@font-face {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  src: url('./RobotoRegular.woff2') format('woff2'), url('./RobotoRegular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  src: url('./RobotoMedium.woff2') format('woff2'), url('./RobotoMedium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  src: url('./RobotoBold.woff2') format('woff2'), url('./RobotoBold.woff') format('woff');
}
